.principal{
    background-image: url(IMAGENES/Central/imagenCentral.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.presentacion{
    color: white;
    margin-left: 50%;
    padding: 200px 100px;
}
.button{
    border-radius: 10px;
}
.container-fluid, .container-calidad{
    background-color: rgb(30, 29, 29);
    text-align: center; 
    padding: 30px;
}
.cards{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 0 500px;
}
p{
    color: white;
}
h3{
    color: white;
    text-align: center;
    padding: 10px;
}
h2,h5{
    color: darkgoldenrod;
}
.container-productos{
    background-color: rgb(30, 29, 29);
    display: inline-block;
    width: 100%;
}
.foto-izquierda{
    max-width: 50%;
    float: left;
}
.foto-derecha{
    max-width: 50%;
    float: right;
}
.descripcion{
    max-width: 50%;
    float: left;
    padding: 50px;
    height: 374px;
}
.producto{
    max-width: 100%;
}
.container-contacto{
    background-color: rgb(30, 29, 29);
    display: inline-block;
    width: 100%;
}
.foto{
    float: left;
    width: 50%;
}
.container-formulario{
    float: right;
    color: white;
}
.consulta,.form-label{
    color: darkgoldenrod;
    font-size: large;
}
.formulario{
    margin: 20px 140px;
}
footer{
    background-color: rgb(30, 29, 29);
    color: white;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
    padding: 10px 100px;
}
